/* CSS for the navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d7c7e6;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(80, 18, 162, 0.4); /* Add shadow effect */
}

/* CSS for the logo */
.logo {
    display: inline-block;
    margin-right: 5px;
}

.logo img {
    height: 65px;
}

/* CSS for the logo-text */
.logo-text {
    display: inline-block;
    margin-right: 10px;
}

.logo-text img {
    height: 40px;
}

.navbar h1{
    color: #42316c;
    margin-left: 30%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eae1f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#event-form {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

#event-form h2 {
    background-color: #42316c;
    color: #eae1f2;
    padding: 15px;
    margin: 0;
}

#event-form label {
    display: block;
    margin: 15px;
    color: #42316c;
}

#event-form input,
#event-form textarea,
#event-form button {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 0 15px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #42316c;
    background-color: #eae1f2;
}

#event-form button {
    background-color: #42316c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#event-form button:hover {
    background-color: #1e0f37;
}

#event-display {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin-top: -345px;
    margin-left: 300px;
}

#event-display h2 {
    background-color: #42316c;
    color: #eae1f2;
    padding: 15px;
    margin: 0;
}

#events-container {
    padding: 15px;
    color: #42316c;
}

#events-form textarea{
    border-radius: 5px;
}

.event-item {
    margin-bottom: 10px;
}